:root{
    --grey: #d6d7da;
    --lightGrey: #f6f6f8;
    --whte: #fff;
}
.App{
    width: 100%;
    height: 100vh;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 960px;
    height:575px;
    max-height: 100%;
    margin: 20px;
    background-color: var(--lightGrey);
    box-shadow: 10px 10px 5px 12px var(--grey);
    border-radius: 25px;
    display: flex;
}
.sideCityView{
    background-color: var(--whte);
    border-radius: 25px 0 0 25px;
    width:343px;
    padding: 20px 15px;
}
.sideCityView h1{
 font-weight: normal;
 margin: 0;
 padding-top: 20px;
}
.sideCityView .cloudImg{
    width: 110px;
    padding: 20px;
    border-radius: 15px;
}
.sideCityView input{
    border: 1px solid var(--grey);
    border-radius: 15px;
    padding: 5px 10px;
}
.sideCityView .cityImg{
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideCityView .cityImg p {
    position: absolute;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    margin: 0;
    z-index: 1;
}
.sideCityView .cityImg img{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    margin: 0;
}
.sideCityView .cityImg:after {
    content: '';
    background-color: rgba(114, 109, 109, 0.37);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 30px;
}
.toggleTab {
    display: flex;
    gap: 10px;
}
.header button{
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.header .profle img{
    width: 30px;
    height: 30px;
}
.rightHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.today .sideCityView{
    width: 100%;
    margin: 20px;
    border-radius: 25px;
}
.today .sideCityView input{
    display: none;
}
.today .sideCityView h1{
    display: inline-block;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .App{
        height: 100%;
    }
    .container{
        flex-direction: column;
        height: 100%;
    }
    .sideCityView {
        border-radius: 25px;
        width: auto;
        padding: 20px 15px;
    }
    .today .sideCityView,.header{
        width: auto;
    }
}